/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/toolbars_below_content.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Moves tabs toolbar, bookmarks toolbar and main toolbar to the bottom of the window, and makes tabs be the bottom-most toolbar */

/* By default, menubar will stay on top with two options to select it's behavior - see below */

@-moz-document url(chrome://browser/content/browser.xhtml){
  
  #titlebar{ -moz-appearance: none !important; }

  #navigator-toolbox > div{ display: contents }
  .global-notificationbox,
  #mainPopupSet,
  #browser,
  #customization-container,
  #tab-notification-deck{
    -moz-box-ordinal-group: 0; /* Fx <112 compatibility */
    order: -1;
  }

  /* Remove the next row if you want tabs to be the top-most row */
  #titlebar{
    -moz-box-ordinal-group: 2; /* Fx <112 compatibility */
    order: 2;
  } 

  #toolbar-menubar{
    position: fixed;
    display: flex;
    width: 100vw;
    top: 0px;
    -moz-window-dragging: drag;
  }
  /* Remove bottom border that won't do anything useful when at bottom of the window */
  #navigator-toolbox{ border-bottom: none !important; }

  #toolbar-menubar > spacer{ flex-grow: 1 }

  #urlbar[breakout][breakout-extend]{
    display: flex !important;
    flex-direction: column-reverse;
    bottom: 0px !important; /* Change to 3-5 px if using compact_urlbar_megabar.css depending on toolbar density */
    top: auto !important;
  }

  .urlbarView-body-inner{ border-top-style: none !important; }

  /* Yeah, removes window controls. Likely not wanted on bottom row  */
  #TabsToolbar > .titlebar-buttonbox-container{ display: none }
  #toolbar-menubar > .titlebar-buttonbox-container{ order: 1000 }

  /* Fix panels sizing */
  .panel-viewstack{ max-height: unset !important; }

  /* Fullscreen mode support */
  #navigator-toolbox[inFullscreen]{ margin-top: 0 !important }
  #navigator-toolbox[inFullscreen][style*="margin-top"]{ visibility: collapse }
  #fullscr-toggler{ bottom: 0; top: unset !important; }
  
  /* These three rules exist for compatibility with autohide_toolbox.css */
  #navigator-toolbox{ bottom: 0px; transform-origin: bottom }
  #main-window > body > box{ margin-top: 0 !important; }
  #toolbar-menubar{ z-index: 1; background-color: var(--lwt-accent-color,black); }
  
  /**************
  Menubar options - By default, menubar is overlayed on top of web-content
  ***************/

 /* Uncomment the following if you want static menubar on top of the window (make menubar enabled)
  * Use when menubar is enabled to always show it */
  
  /*
  #browser,#customization-container{ padding-top: var(--uc-menubar-spacer,28px) }
  */
  
  /* OR, uncomment the following if you want menubar to appear below content, above tabs toolbar */
  
  #toolbar-menubar{ position: static; display: flex; margin-top: 0px !important; background-color: transparent }

  /* set to "column-reverse" (without quotes) if you want tabs above menubar with the above option */
  #titlebar{ flex-direction: column }



  #tabbrowser-tabs {
      --user-tab-rounding: 6px;
  }

  .tab-background {
      border-radius: var(--user-tab-rounding) var(--user-tab-rounding) 0px 0px !important; /* Connected */
      margin-block: 1px 0 !important; /* Connected */
  }
  #scrollbutton-up, #scrollbutton-down { /* 6/10/2021 */
      border-top-width: 1px !important;
      border-bottom-width: 0 !important;
  }

  /* 1/16/2022 Tone down the Fx96 tab border with add-on themes in certain fallback situations */
  .tab-background:is([selected], [multiselected]):-moz-lwtheme {
      --lwt-tabs-border-color: rgba(0, 0, 0, 0.5) !important;
      border-bottom-color: transparent !important;
  }
  [brighttext="true"] .tab-background:is([selected], [multiselected]):-moz-lwtheme {
      --lwt-tabs-border-color: rgba(255, 255, 255, 0.5) !important;
      border-bottom-color: transparent !important;
  }

  /* Container color bar visibility */
  .tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
      margin: 0px max(calc(var(--user-tab-rounding) - 3px), 0px) !important;
  }

      /* Make sure tab attention dot isn't too high - 10 Dec 2022 */
  .tabbrowser-tab:is([image], [pinned]) > .tab-stack > .tab-content[attention]:not([selected="true"]),
  .tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged]:not([selected="true"]),
  #firefox-view-button[attention], .webextension-browser-action[attention="true"] {
    background-position-y: bottom 5px !important;
  }
}


/*** Proton Tabs Tweaks ***/

/* Adjust tab corner shape, optionally remove space below tabs */



/* Tweak Options as of 12/10/2022; Generated Sun May 28 2023 19:52:46 GMT+0530 (India Standard Time) */
